/* For overriding purposes */

img.align-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}


a {
    color: #005580;
    text-decoration: underline;
    font-weight: normal;
}


a.underline {
    text-decoration: underline
}